/********************************/
/***********menu*****************/
/********************************/

header {
  background-color: #4260f5;
  height: 60px;
  top:0;
  left:0;
  width:100%;
  margin: 0;
  padding: 0;
}




